<ion-header>
  <ion-toolbar>
    <ion-row text-right>
      <ion-col>
        <ion-button id="btnSpara" size="small" color="secondary" routerLink="/first-page">Back</ion-button>
      </ion-col>
    </ion-row>

  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="ion-padding container">
    <h1>Create an Account</h1>

    <div class="form-container">
      <ion-item>
        <ion-label position="floating">Name</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Adress</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Contact Number</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input></ion-input>
      </ion-item>  

      <ion-button routerLink="/first-page" expand="block" class="main-button">Create</ion-button>


    </div>
  </div>
</ion-content>