<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-title>Veggie Pizza</ion-title>
    </ion-toolbar>
  </ion-header>
  
    <ion-card>
      
      <ion-card-header>
        <ion-card-title class="ion-text-center">Veggie Pizza</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <img class="logo" src="..\..\assets\images\pizza9.png"/>
        <ion-item>
          <ion-label class="ion-text-center">{{250.00}}</ion-label>
        </ion-item>
        When you want to jazz up your cheese pizza with color and texture, veggies are the perfect topping. And you’re only limited by your imagination. 
        Everything from peppers and mushrooms, to eggplant and onions make for an exciting and tasty veggie pizza.
        <ion-button size = "Small" routerLink="/delivery-form">Add to Cart</ion-button>
      </ion-card-content>
    </ion-card>
  
  
  </ion-content>
  