<ion-content>
<ion-header>
  <ion-toolbar>
    <ion-title>PizzaForm1</ion-title>
  </ion-toolbar>
</ion-header>

  <ion-card>
    
    <ion-card-header>
      <ion-card-title class="ion-text-center">Cheese Pizza</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <img class="logo" src="..\..\assets\images\pizza10.png"/>
      <ion-item>
        <ion-label class="ion-text-center">{{250.00}}</ion-label>
      </ion-item>
   
        It should be no shocker that a classic is the statistical favorite. 
        Cheese pizza is one of the most popular choices.
        It will always be a simple, unadorned masterpiece on its own.
      <ion-button size = "Small" routerLink="/delivery-form">Add to Cart</ion-button>
    </ion-card-content>
  </ion-card>


</ion-content>
