<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-title>BBQ Chicken Pizza</ion-title>
    </ion-toolbar>
  </ion-header>
  
    <ion-card>
      
      <ion-card-header>
        <ion-card-title class="ion-text-center">BBQ Chicken Pizza</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <img class="logo" src="..\..\assets\images\pizza4.png"/>
        <ion-item>
          <ion-label class="ion-text-center">{{250.00}}</ion-label>
        </ion-item>
        This has long been a cult favorite of sports fans and college kids. 
        The chicken slathered over the top of a pie gives it a tangy, sweet flavor that can’t be beaten.
       <br><br>
        <ion-button size = "Small" routerLink="/">Add to Cart</ion-button>
      </ion-card-content>
    </ion-card>
  
  
  </ion-content>
  