<ion-header>
    <ion-toolbar class="toolbar">
      <ion-buttons slot="start">
         <ion-black-button color="light" defaultFref="home"></ion-black-button>
        </ion-buttons>
        <ion-title>Pizza</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-list>
         
            <ion-thumbanail slot="strat">
              <img src="..\..\assets\images\pizza10.png"/>
            </ion-thumbanail>
            
            <ion-label>
              <h2>Cheese Pizza 
              </h2>
              <button id="btn" routerLink="/pizza-form1">Details</button>
         </ion-label>
         <br><br>
         <ion-thumbanail slot="strat">
          <img src="..\..\assets\images\pizza9.png"/>
        </ion-thumbanail>
        
        <ion-label>
          <h2>Veggie Pizza
          </h2>
          <button id="btn" routerLink="/pizza9">Details</button>
     </ion-label>

     <br><br>
     <ion-thumbanail slot="strat">
      <img src="..\..\assets\images\pizza8.png"/>
    </ion-thumbanail>
    
    <ion-label>
      <h2> Meat Pizza
      </h2>
      <button id="btn" routerLink="/pizza8">Details</button>
 </ion-label>
 <br><br>
 <ion-thumbanail slot="strat">
  <img src="..\..\assets\images\pizza7.png"/>
</ion-thumbanail>

<ion-label>
  <h2>Margherita Pizza
  </h2>
  <button id="btn" routerLink="/pizza7">Details</button>
</ion-label>
<br><br>
<ion-thumbanail slot="strat">
 <img src="..\..\assets\images\pizza6.png"/>
</ion-thumbanail>

<ion-label>
 <h2>Pepperoni Pizza 
 </h2>
 <button id="btn" routerLink="/pizza6">Details</button>
</ion-label>
<br><br>
<ion-thumbanail slot="strat">
 <img src="..\..\assets\images\pizza5.png"/>
</ion-thumbanail>

<ion-label>
 <h2>Hawaiian Pizza
 </h2>
 <button id="btn" routerLink="/pizza5">Details</button>
</ion-label>
<br><br>
<ion-thumbanail slot="strat">
 <img src="..\..\assets\images\pizza4.png"/>
</ion-thumbanail>

<ion-label>
 <h2>BBQ Chicken Pizza
 </h2>
 <button id="btn" routerLink="/pizza4">Details</button>
</ion-label>
<br><br>
<ion-thumbanail slot="strat">
 <img src="..\..\assets\images\pizza3.png"/>
</ion-thumbanail>

<ion-label>
 <h2>Supreme Pizza 
 </h2>
 <button id="btn" routerLink="/pizza3">Details</button>
</ion-label>
<br><br>
<ion-thumbanail slot="strat">
 <img src="..\..\assets\images\pizza2.png"/>
</ion-thumbanail>

<ion-label>
 <h2>Buffalo Pizza
 </h2>
 <button id="btn" routerLink="/pizza-form2">Details</button>
</ion-label>
<br><br>
<ion-thumbanail slot="strat">
 <img src="..\..\assets\images\Pizza1.png"/>
</ion-thumbanail>

<ion-label>
 <h2>The Works Pizza
 </h2>
 <button id="btn" routerLink="/pizza-form1">Details</button>
</ion-label>
<br><br>

          
          </ion-list>
         </ion-col>
      </ion-row>
    </ion-grid>
  </div>
      

