<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-title>Hawaiian Pizza</ion-title>
    </ion-toolbar>
  </ion-header>
  
    <ion-card>
      
      <ion-card-header>
        <ion-card-title class="ion-text-center">Hawaiian Pizza</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <img class="logo" src="..\..\assets\images\pizza5.png"/>
        <ion-item>
          <ion-label class="ion-text-center">{{250.00}}</ion-label>
        </ion-item>
        Pineapple might not be the first thing that comes to mind when you think pizza. 
        But add in some ham and it creates an unexpectedly solid sweet and salty combination for this type of pizza.
        <ion-button size = "Small" routerLink="/delivery-form">Add to Cart</ion-button>
      </ion-card-content>
    </ion-card>
  
  
  </ion-content>
  