<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-title>Supreme Pizza</ion-title>
    </ion-toolbar>
  </ion-header>
  
    <ion-card>
      
      <ion-card-header>
        <ion-card-title class="ion-text-center">Supreme Pizza</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <img class="logo" src="..\..\assets\images\pizza10.png"/>
        <ion-item>
          <ion-label class="ion-text-center">{{250.00}}</ion-label>
        </ion-item>
        When you can’t decide which toppings to get, it's time for the supreme pizza. 
        The “supreme” refers to the litany of toppings that come scattered on these pies, from sausage to vegetables to pepperoni. 
        And it's the combination of the flavors that really makes it sing.
        <ion-button size = "Small" routerLink="/delivery-form">Add to Cart</ion-button>
      </ion-card-content>
    </ion-card>
  
  
  </ion-content>
  