<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-title>Buffalo Pizza</ion-title>
    </ion-toolbar>
  </ion-header>
  
    <ion-card>
      
      <ion-card-header>
        <ion-card-title class="ion-text-center">Buffalo Pizza</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <img class="logo" src="..\..\assets\images\pizza2.png"/>
        <ion-item>
          <ion-label class="ion-text-center">{{250.00}}</ion-label>
        </ion-item>
        Branch out with some buffalo sauce on your pie. All its spicy, salty, buttery goodness is a natural pairing for pizza.
       <br><br>
       <ion-button size = "Small" routerLink="/delivery-form">Add to Cart</ion-button>
      </ion-card-content>
    </ion-card>
  
  
  </ion-content>
  