#veggie{
    padding:20px 20px;
    width:380px;
    margin-left:43px;
    }
    #add{
        font-size:20px;
        font-weight:bold;
        margin-top:350px;
        border:solid black 1px;
        margin-left:200px;
        background-color:#f5950a;
        width:120px;
        height:60px;
        border-radius:7px 7px 7px 7px;
        text-decoration:none;
        padding: 10px 40px;
    }
    
    #add:link {
      color: red;
    }
    
    /* visited link */
    #add:visited {
      color: black;
     }
    
    /* mouse over link */
    #add:hover {
      background: red;
    }
    /* selected link */
    #add:active {
      color: blue;
     
    }
    
    #first{
    color:blue;
    margin-left:70px;
    font-size:30px;
    }