<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-title> Meat Pizza</ion-title>
    </ion-toolbar>
  </ion-header>
  
    <ion-card>
      
      <ion-card-header>
        <ion-card-title class="ion-text-center"> Meat Pizza</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <img class="logo" src="..\..\assets\images\pizza8.png"/>
        <ion-item>
          <ion-label class="ion-text-center">{{250.00}}</ion-label>
        </ion-item>
        If pepperoni just isn't enough, and you're looking for a pie with a bit more heft, a meat pizza is a perfect and popular choice. 
        Pile on ground beef and sausage for a hearty meal.
        <ion-button size = "Small" routerLink="/delivery-form">Add to Cart</ion-button>
      </ion-card-content>
    </ion-card>
  
  
  </ion-content>
  