<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-title>Margherita Pizza</ion-title>
    </ion-toolbar>
  </ion-header>
  
    <ion-card>
      
      <ion-card-header>
        <ion-card-title class="ion-text-center">Margherita Pizza</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <img class="logo" src="..\..\assets\images\pizza7.png"/>
        <ion-item>
          <ion-label class="ion-text-center">{{250.00}}</ion-label>
        </ion-item>
        Deceptively simple, the Margherita pizza is made with basil, fresh mozzarella, and tomatoes. 
        There's a reason it's an Italian staple and one of the most popular types of pizza in the country.
        <ion-button size = "Small" routerLink="/delivery-form">Add to Cart</ion-button>
      </ion-card-content>
    </ion-card>
  
  
  </ion-content>
  